:root {
    --bg-color: black;
    --accent-color:#ff6600;
    --font-color:white;
    --font-family:"Poppins", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    color: white;
    font-family: var(--font-family);

}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.section{

}
.container{
    padding:10px 40px
}
.bx{
    color: var(--accent-color);
    font-size: 30px;
}

.header{
    height: 70px;
   background-color: transparent;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding:5px 80px;
    align-items: center;
    z-index: 1000;
}

.logo img{
    width: 50px;
    height: 100%;
}
.menu{
    font-family: var(--body-font-family);
    font-weight: var(--semi-bold);
}
.list{
    display: flex;
    justify-content: space-between;

}
.list-item{
    padding: 30px;
    color: var(--accent-color);
   font-weight: bold;
}
.list-link{
    color: var(--accent-font-color);
}
.btn-menu{
    display: none;
    color: var(--accent-color) !important;
    z-index: 1000;
}

.btn-contact{
    background-color: var(--accent-color);
    color: white;
    border-radius: 20px;
    padding: 5px 20px;
}
.btn-contact:hover{
    background-color: #bb4c03;
}
.blur-header::after{
    content: '';
    position: absolute;
    width: 1000%;
    height: 100%;
    background-color:rgba(31, 30, 30, 0.616);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    top: 0;
    left: 0;
    z-index: -1;
  }
/*hero*/
.hero{
    padding:10px 40px;
    background-image: url(../images/hero.png);
    height: 100vh;
    display: flex;
    align-items: center;
    column-gap: 40px;
    background-size: cover;
}

.hero-img{
    width: 100%;
    height: 100%;
    display: none;
}
.icons{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.text h1{
    font-size: 90px;
    letter-spacing: 5px;
}
.text h3{
    font-size: 35px;
}
.text p{
     width: 400px;
     line-height: 30px;
}
.colorSpan{
    color: var(--accent-color);
}
.buttons{
    margin-top: 30px;
    display:  flex;
    width: 400px;
    justify-content: space-between;
    
}
.btn{
    color: white;
    background-color: var(--accent-color);
    padding: 8px 50px;
    border-radius: 30px;
}
.btn:first-child{
    background-color: var(--bg-color);
    border: 1px solid var(--accent-color);
}
/*about*/
.about{
    display:  flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    width: 50%;
}
.about-img{
    width: 100%;
}
.left{
    width: 50%;
}
.section-title{
    font-size:62px;
}
.sectiom-para{
    width: 80%;
    line-height: 25px;
}

/*gallery*/

.gallery{
    display: flex;
    flex-direction: column;
}
.gallery-sections{
    display: flex;
    justify-content: flex-end;
    gap:20px;
    font-size: 20px;
}
.gallery-section-anchor{
    color: var(--font-color);
    border: #ff6600 1px solid;
    padding: 5px 15px;
}
.gallery-section-anchor:first-child{
    background-color: #ff6600;
}
.gallery-section-anchor:hover{
    background-color: #bb4c03;
}
.images{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.gallery-images{
width: 30%;
margin-top: 20px;
}
.gallery-images img{
width: 100%;
}



/*services*/
.services{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.services .section-title {
text-align: center;
}
.ser{
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    gap:30px;

}
.services-div{
    background-color: #313131;
    padding: 15px 60px;
    border-radius: 40px;
    text-align: center;
    width: 30%;
}
.services-div h3{
    color: var(--accent-color);
}
.services-div p{
     
}

/*testemonials*/
.testemonials{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.testemonials-div{
    background-color: #313131;
    width: 30%;
    padding: 30px;
    border-radius: 30px;
    
}
.profile-img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
 
}
.testemonials-div p , .testemonials-div h3{
    text-align: left;
}
.testemonials-div small{
    text-align: left !important;
}

/*contact */
.contact{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/conatct.png);
    background-position: cover;
    background-size: cover;

}
.contact-div{
    display: flex;
    justify-content: space-around;
    column-gap:50px;
}
.contact-div .left{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact-div .left input{
  width: 100%;
  background-color: #313131;
  outline: none;
  border: 1px solid var(--accent-color);
  padding:10px 30px;
  margin-top: 30px;
  border-radius: 30px;
}
.contact-div .left button{
    margin-top: 10px;
    outline: none;
    border: 0;
    padding: 10px 90px;
}
.contact-div .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 30px;
    margin-top: 15px;
    padding-bottom: 50px;
}
.contact-div .right .icons .bx{
    font-size: 30px;
}
.contact-div .right a{
    color:white;
    padding-left: 30px;
    font-size: 20px;
}

/*responsive*/
@media (max-width: 768px) {
    .header {
        padding: 5px 20px;
        position: fixed;
    }

    .btn-menu {
        display: block;
        cursor: pointer;
     
        font-size: 30px;
    }
    .list {
        position: fixed;
        right: -100%;
        top: 0;
        flex-direction: column;
        background-color: rgba(15, 15, 15, 0.349); /* Light mode menu background */
        backdrop-filter: blur(16px);
        -webkit-backdrop-filter: blur(16px);
        width: 200px;
        height: 100vh;
        align-items: flex-start;
        padding: 80px 20px;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        transition: right 0.3s ease;
        z-index: -1;
       
    }
    .list-item {
        padding: 20px;
        color: var(--accent-color); /* Light mode font color */
        font-weight: bold;
    }

   

    .menu.active .list {
        right: 0;
    }
    
/*hero*/
.text h1{
    font-size: 50px;
}
.text h3{
    font-size: 20px;
}
.section-title{
    font-size: 30px;
  }
  .sectiom-para{
    font-size: 14px;
    width: 100%;
   
  }
  .ser{
    padding: 0px;
  }
  .services-div{
    width: 100%;
  }
  .services p{
    font-size: 14px;
  }
  .testemonials-div{
    width: 100%;
  }
}

@media  (max-width: 450px){

    .container{
        padding:5px 25px
    }
    .hero {
        padding: 80px 20px;
        height: 100vh;
        flex-direction: column;
        background-image: none;  
      } 
      .icons{
        order: 3;
        flex-direction: row;
        margin-top: 30px;
       gap: 20px;
      }
      .text h1 {
        font-size: 30px;
        letter-spacing: 2px;
      }
      .text h3 {
        font-size: 20px;
      }
      .text p {
        width: 100%;
        font-size: 14px;
      }
      .buttons {
        flex-direction: column;
        gap: 20px;
        text-align: center;
      }
      .hero-img{
        display: block;
      }

      .about{
        flex-direction: column;
      }
      .left, .right{
        width: 100%;
      }
      .about-img{
        width: 100%;
      }
      .section-title{
        font-size: 30px;
      }
      .sectiom-para{
        font-size: 14px;
        width: 100%;
        line-height: 18px;
      }
      .gallery-sections{
        justify-content: center;
        margin-top: 10px;
      }
      .gallery-section-anchor{
        font-size: 16px;
        align-items: center;
        padding: 5px 15px;
      }
      .images{
        display: flex;
        flex-direction: column;
      }
      .gallery-images{
        width: 98%;
      
      }
      .gallery-images img{
        width: 100%;
      }
      .ser{
        display: flex;
        flex-direction: column;
        column-gap: 30px;
      }
      .services-div{
        width: 100%;
        
      }
      .contact{
        background-image: none;
        text-align: center;
      
      }
      .contact-div .left{
        width: 100%;
      }
      .contact-div .right .icons{
        width: 100%;
        flex-direction: column;
      }
      .contact-div{
        flex-direction: column ;
      }
      .contact-div .right .icons a{
        padding-left: 3px;
      }
}